{% extends "base.html" %}
{% load static %}

{% block page_title %}
{{ post.title }}
{% endblock page_title %}

{% block css_styles %}
<link rel='stylesheet' href="{% static "posts/post-detail.css" %}">
{% endblock css_styles %}

{% block content %}
<section id="summary">
  <h2>{{ post.title }}</h2>
  <div>
    {% for tag in post_tag %}
    <span class='tag'>{{ tag.caption }}</span>
    {% endfor %}
  </div>
  <article>
    <img src="{% static "posts/images/"|add:post.image_name %}" alt="{{ post.title }}" />
    <address>By <a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></address>
    <div>Last updated on <time>{{ post.date|date:"d M Y" }}</time></div>
  </article>
</section>

<main>
  {{ post.content|linebreaks }}
</main>
{% endblock content %}