{% extends "reviews/base.html" %}
{% load static %}

{% block page_title %}
Document
{% endblock page_title %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-control {% if field.errors %}errors{% endif %}">
    {{ field.label_tag }}
    {{ field }} 
    {{ field.errors }}
  </div>
  {% endfor %}
  {% comment %} <div class="form-control {% if form.user_name.errors %}errors{% endif %}">
    {{ form.user_name.label_tag }}
    {{ form.user_name }} 
    {{ form.user_name.errors }}
  </div>
  <div class="form-control {% if form.review_text.errors %}errors{% endif %}">
    {{ form.review_text.label_tag }}
    {{ form.review_text }} 
    {{ form.review_text.errors }}
  </div>
  <div class="form-control {% if form.rating.errors %}errors{% endif %}">
    {{ form.rating.label_tag }}
    {{ form.rating }} 
    {{ form.rating.errors }} {% endcomment %}
  </div>
  <button type="submit">Send</button>
</form>
{% endblock content %}
    